# Variáveis Dummies

    * São variáveis binárias representadas por 0 ou 1, indicando ausência ou presença respectivamente de atributos em variáveis categoricas. As máquinas só entendem números e não letras, por isso a necessidade de se converter variáveis do tipo texto em números que possam ser interpretados pelas máquinas.

<img src='variaveis.png'>

In [36]:
import pandas as pd
dados = {'raça':['Husky', 'fila', 'golden', 'pastor', 'fila'], 'idade':[3, 7, 5, 6, 2], 'peso':[12.5, 11, 9, 10, 7]}
df = pd.DataFrame(dados)
display(df)

     raça  idade  peso
0   Husky      3  12.5
1    fila      7  11.0
2  golden      5   9.0
3  pastor      6  10.0
4    fila      2   7.0

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   raça    5 non-null      object
 1   idade   5 non-null      int64
 2   peso    5 non-null      float64
dtypes: float64(1), int64(1), object(1)
memory usage: 248.0+ bytes

In [21]:
# Importando Label Encoder
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Aplicando o encoder
encoder = LabelEncoder().fit(df['raça'])
df['raça'] = encoder.transform(df['raça'])

display(df)

   raça  idade  peso
0     0      3  12.5
1     1      7  11.0
2     2      5   9.0
3     3      6  10.0
4     1      2   7.0

Note que agora cada raça esta sendo representada por um inteiro. fila = 1

In [23]:
ht = OneHotEncoder()

X = ht.fit_transform(df.raça.values.reshape(-1,1)).toarray()

display(x)

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 1., 0., 0.]])

In [29]:
df_hot= pd.DataFrame(X, columns=['raça_'+str(int(i)) for i in range(df.shape[1]+1)])

df = pd.concat([df, df_hot], axis=1)

df = df.drop(["raça"], axis=1)
print(df)

   idade  peso  raça_0  raça_1  raça_2  raça_3
0      3  12.5     1.0     0.0     0.0     0.0
1      7  11.0     0.0     1.0     0.0     0.0
2      5   9.0     0.0     0.0     1.0     0.0
3      6  10.0     0.0     0.0     0.0     1.0
4      2   7.0     0.0     1.0     0.0     0.0

In [27]:
df.shape[1]

3

In [37]:
# Ou no lugar do onehot posso usar get_dummies do Pandas
col_dummies = ['raça']
df = pd.get_dummies(df, columns = col_dummies)
display(df)

   idade  peso  raça_Husky  raça_fila  raça_golden  raça_pastor
0      3  12.5           1          0            0            0
1      7  11.0           0          1            0            0
2      5   9.0           0          0            1            0
3      6  10.0           0          0            0            1
4      2   7.0           0          1            0            0

# MULTICOLINEARIDADE